<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="../public/styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
        integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />

    <title>Health Track - Inicio</title>
</head>

<body>

    <main>
        <div class="container">
            <div>
                <div class="row screen-title-control">
                    <span class="screen-title my-3">Health Track</span>
                </div>
                <div>
                    <div class="container panel">
                        <div class="panel-header">
                            Metas
                        </div>
                    </div>
                </div>
                <div class="d-block container mt-2">
                    <div class="row justify-content-between">
                        <div class="col mr-1 panel">
                            <div class="panel-header">
                                Exercícios
                            </div>
                            <div class="panel-body">
                                <i class="panel-icons fas fa-running"></i>
                            </div>
                            <div>
                                <div class="panel-footer">
                                    <div>
                                        <span class="highlight">2.5 km</span>
                                    </div>
                                    <div>
                                        <span>25/05</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col ml-1 panel">
                            <div class="panel-header">
                                Pesos
                            </div>
                            <div class="panel-body">
                                <div class="canvas">
                                    <canvas id="weightChart" width="130" height="75"></canvas>
                                </div>
                            </div>
                            <div>
                                <div class="panel-footer">
                                    <div>
                                        <span class="highlight">76 kg</span>
                                    </div>
                                    <div>
                                        <span>25/05</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg fixed-bottom py-0">
            <div class="d-flex align-items-center justify-content-around container">
                <a class="navbar-brand my-0 py-0" href="home.html">
                    <i class="fas fa-home menu-icons"></i>
                    <p class="menu-text">Início</p>
                </a>
                <a class="navbar-brand my-0 py-0" href="exercises.html">
                    <i class="fas fa-running menu-icons"></i>
                    <p class="menu-text">Exercícios</p>
                </a>
                <a class="navbar-brand my-0 py-0" href="weigth.html">
                    <i class="fas fa-weight menu-icons"></i>
                    <p class="menu-text">Pesos</p>
                </a>
                <a class="navbar-brand my-0 py-0" href="profile.html">
                    <i class="fas fa-user-alt menu-icons"></i>
                    <p class="menu-text">Perfil</p>
                </a>
            </div>
        </nav>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
    <script src="../public/js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>