<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/public/styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap" rel="stylesheet">

    <title>Health Track - Pesos</title>
</head>

<body>

    <main>
        <div class="container">
            <div>
                <div class="row screen-title-control">
                    <span class="screen-title my-3">Acampanhamento de Peso</span>
                </div>
            </div>
        </div>

        <div class="container">
            <table class="table table-borderless table-sm">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"><i class="far fa-calendar"></i></th>
                        <th scope="col"><i class="fas fa-weight"></i></th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>24/05/2020</td>
                        <td>76 kg</td>
                        <td class="td-control"><i class="fas fa-pen"></i><i class="fas fa-trash"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>24/05/2020</td>
                        <td>76 kg</td>
                        <td class="td-control"><i class="fas fa-pen"></i><i class="fas fa-trash"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>24/05/2020</td>
                        <td>76 kg</td>
                        <td class="td-control"><i class="fas fa-pen"></i><i class="fas fa-trash"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>24/05/2020</td>
                        <td>76 kg</td>
                        <td class="td-control"><i class="fas fa-pen"></i><i class="fas fa-trash"></i></td>
                    </tr>

                    <tr class="blank-last-row">
                        <th></th>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
            role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Adicionar peso</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row justify-content-center">
                                <input class="form-control input-decoration my-1" type="date" id="input-user"
                                    placeholder="Data">
                            </div>
                            <div class="row justify-content-center">
                                <input class="form-control input-decoration my-1" type="text" id="input-user"
                                    placeholder="Peso">
                            </div>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-site btn-modal" data-dismiss="modal"><i class="fas fa-times"></i></button>
                        <button type="button" class="btn btn-site btn-modal" data-dismiss="modal"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>


        <div class="d-flex justify-content-end fixed-bottom">
            <a href="#" class="plus" data-toggle="modal" data-target="#staticBackdrop">
                <i class="fas fa-plus"></i>
            </a>
        </div>

        <nav class="navbar navbar-expand-lg fixed-bottom py-0">
            <div class="d-flex align-items-center justify-content-around container">
                <a class="navbar-brand my-0 py-0" href="home.html">
                    <i class="fas fa-home menu-icons"></i>
                    <p class="menu-text">Início</p>
                </a>
                <a class="navbar-brand my-0 py-0" href="exercises.html">
                    <i class="fas fa-running menu-icons"></i>
                    <p class="menu-text">Exercícios</p>
                </a>
                <a class="navbar-brand my-0 py-0" href="weigth.html">
                    <i class="fas fa-weight menu-icons"></i>
                    <p class="menu-text">Pesos</p>
                </a>
                <a class="navbar-brand my-0 py-0" href="profile.html">
                    <i class="fas fa-user-alt menu-icons"></i>
                    <p class="menu-text">Perfil</p>
                </a>
            </div>
        </nav>
    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>