/* All Screens Start */

:root{
    --color-pink: #F4ABEF;
    --color-dark-pink: #E360DE;
    --color-blue:  #8CE0D8;
    --color-dark-blue: #1C5DDD;
    --color-roxo: #5925BA;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color-dark-pink) !important;
    opacity: 0.8 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--color-dark-pink) !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--color-dark-pink) !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive;
}

.screen-title-control {
    justify-content: left;
    margin-left: 1rem;
}

.screen-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-roxo);
}

.btn-site {
    background-color: var(--color-roxo);
    color: whitesmoke;
    border-radius: 3rem;
}

.social-connect {
    background-color: whitesmoke;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    font-size: 2rem;
    border: 1px solid var(--color-roxo);
}

.fa-arrow-left {
    color: whitesmoke;
    font-size: 1rem;
}

.menu-icons {
    color: var(--color-roxo);
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.menu-text {
    color: var(--color-roxo);
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0;
}

.menu-space {
    border-right: 1px solid var(--color-dark-pink);
}

.text-roxo {
    font-size: 1rem;
    color: var(--color-roxo);
}

.text-dark-blue {
    font-size: 1rem;
    color: var(--color-dark-blue);
}

.input-decoration {
    border: 1px solid var(--color-roxo) !important;
    border-radius: 1.25rem !important;
    color: var(--color-dark-pink) !important;
}

body {
    background-color: var(--color-blue);
}

.plus {
    color: var(--color-pink);
    height: 3rem;
    width: 3rem;
    margin-right: 3rem;
    margin-bottom: 4rem;
    background-color: var(--color-roxo);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
}

.plus i {
    font-size: 2rem;
}

.modal-content {
    background-color: whitesmoke;
    border-radius: 1rem;
}

.modal-header {
    background-color: var(--color-pink);
    padding: 0.1rem 1rem;
    display: flex;
    align-content: center;
}

.modal-title {
    color: var(--color-roxo);
    font-weight: bold;
}

.modal-body label {
    margin: 0;
    width: 3rem;
    display: flex;
    justify-content: center;
}

.modal-body label i{
    color: var(--color-roxo);
    font-size: 1.4rem;
    padding: 0.3rem 0rem;
    display: flex;
    justify-content: center;
}

.modal-footer {
    padding: 0.1rem 0.1rem;
}

.btn-modal {
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* All Screens End */

/* Login start */

.logo {
    height: 30vh;
}

.fa-sign-in-alt {
    color: var(--color-roxo);
    font-size: 1rem;
}

.fa-key {
    color: var(--color-roxo);
    font-size: 1rem;
}

.social-connect img {
    width: 1.5rem;
}

/* Login Ends */

/* Sign-in Start */



/* Sign-in End */

/* Password Recovery Start */



/* Password Recovery End */

/* Home Start */

.panel {
    height: 25vh;
    background-color: whitesmoke;
    border-radius: 1rem;
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.panel-header {
    background-color: var(--color-pink);
    border-radius: 1rem 1rem 0 0;
    padding: 0 1rem;
    color: var(--color-roxo);
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.panel-icons {
    color: var(--color-roxo);
    font-size: 4.5rem;
    display: flex;
    justify-content: center;
}

.panel-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    max-width: 130px;
}



/* canvas#weightChart {
    border-bottom: 3px solid var(--color-blue);
    border-right: 2px solid var(--color-blue);
    border-left: 1px solid var(--color-blue);
    border-top: 1px solid var(--color-blue);
} */

.panel-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1rem;
}

.panel-footer span.highlight {
    font-size: 1.3rem;
    color: var(--color-dark-blue);
}
.panel-footer span {
    font-size: 0.7rem;
    color: var(--color-dark-pink);
}

/* Home End */

/* Exercise Start */
.td-control {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2rem;

}

table {
    background-color: whitesmoke;
    border-radius: 1rem;
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

table thead th:first-child {
    border-radius: 1rem 0 0 0 !important;
    background-color: var(--color-pink);
    color: var(--color-roxo);
}

table thead th{
    background-color: var(--color-pink);
    color: var(--color-roxo);
    text-align: center;
}

table thead th:last-child {
    border-radius: 0 1rem 0 0 !important;
    background-color: var(--color-pink);
    color: var(--color-roxo);
    text-align: center;
}

table tbody th {
    color: var(--color-dark-blue);
    font-size: 1rem;
}

table tbody td {
    color: var(--color-dark-blue);
    font-size: 1rem;
    text-align: center;
}

/* Exercise End */